
.DS_Store
GroSelfNew.xcodeproj/project.xcworkspace/xcuserdata/stdc_39.xcuserdatad/UserInterfaceState.xcuserstate
GroSelfNew.xcodeproj/project.xcworkspace/xcuserdata/stdc_42.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
